.carThumb {
  transition: 0.5s;
}
.carThumb:hover {
  transform: scale(1.1);
}
.carThumbBox {
  position: relative;
}
.carPrice {
  position: absolute;
  top: 10px;
  left: 0px;
  background: #457b9d;
  color: #fff;
  width: 30%;
  border-radius: 0 50px 50px 0;
  padding: 2px 12px;
}
