/* footer section style  */
.listItem {
  color: #f0f4ef;
  transition: 0.4s;
}
.listItem:hover {
  color: #709bb6;
  cursor: pointer;
}

.footerSocial {
  display: inline-block;
  color: #f0f4ef;
  margin-left: 10px;
  transition: 0.4s;
}

.footerSocial:hover {
  color: #709bb6;
}

@media only screen and (max-width: 1200px) {
  .footerBox {
    border: none !important;
  }
}
@media only screen and (max-width: 600px) {
  .footerBox {
    text-align: center;
  }
  .footerBox li {
    text-align: center;
  }
  .footerBottomBox {
    text-align: center !important;
  }
}
