.checkoutForm {
  width: 30vw;
  min-width: 500px;
  align-self: center;
  box-shadow:
    0px 0px 0px 0.5px rgba(50, 50, 93, 0.1),
    0px 2px 5px 0px rgba(50, 50, 93, 0.1),
    0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 40px;
  margin: auto;
}
.cardElement {
  margin-bottom: 34px;
}

/* Buttons and links */
.checkoutForm button {
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
  width: 100%;
}

.checkoutForm button:disabled {
  opacity: 0.5;
  cursor: default;
}
