.list-item {
  color: #f0f4ef;
  transition: 0.4s;
}
.list-item:hover {
  color: #709bb6;
  cursor: pointer;
}

.footer-social {
  display: inline-block;
  color: #f0f4ef;
  margin-left: 10px;
  transition: 0.4s;
}

.footer-social:hover {
  color: #709bb6;
}

@media only screen and (max-width: 1200px) {
  .footer-box {
    border: none !important;
  }
}
@media only screen and (max-width: 600px) {
  .footer-box {
    text-align: center;
  }
  .footer-box li {
    text-align: center;
  }
  .footer-bottom-box {
    text-align: center !important;
  }
}
