.other-banner {
  background: url(../../../images/other-banner.jpg) no-repeat top center;
  background-size: cover;
  padding: 120px 0;
  background-color: rgba(27, 30, 32, 0.6);
  background-blend-mode: darken, luminosity;
}

@media only screen and (max-width: 768px) {
  .other-banner {
    padding: 60px 0;
  }
}
