.running-car {
  position: relative;
  top: 0;
  left: 0;
  width: 659px;
}

.running-car {
  position: relative;
  top: 0;
  left: 0;
  width: 659px;
}

img.car,
img.wheel {
  transition: all 1s ease-out;
  margin-left: -660px;
}

img.wheel {
  position: absolute;
  left: 401px;
  bottom: 33px;
  z-index: 1;
}

.running-car.in-view img.car {
  transform: translate(600px, 0px) rotate(0deg);
}
.running-car.in-view img.wheel {
  transform: translate(600px, 0px) rotate(600deg);
}

.device-sm .running-car.in-view img.car {
  transform: translate(500px, 0px) rotate(0deg);
}
.device-sm .running-car.in-view img.wheel {
  transform: translate(500px, 0px) rotate(600deg);
}

.device-xs .running-car.in-view img.car {
  transform: translate(350px, 0px) rotate(0deg);
}
.device-xs .running-car.in-view img.wheel {
  transform: translate(350px, 0px) rotate(600deg);
}
