/* reset style  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
}
li {
  list-style: none;
  padding: 0;
}
/* google fonts  */
body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  color: #16425b;
}

/* common style  */

.colored-text {
  color: #457b9d !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #457b9d !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 30px !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #16425b !important;
}

.error {
  color: #ff1654;
}
