/* reset style  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
}
li {
  list-style: none;
  padding: 0;
}
/* google fonts  */
body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

/* common style  */

.carx-btn {
  background: #457b9d !important;
  color: #f0f4ef !important;
}

.carx-outline-btn {
  border: 1px solid #16425b !important;
  color: #16425b !important;
}

.colored-text {
  color: #16425b;
}
