.car-thumb {
  transition: 0.5s;
}
.car-thumb:hover {
  transform: scale(1.1);
}
.car-thumb-box {
  position: relative;
}
.car-price {
  position: absolute;
  top: 10px;
  left: 0px;
  background: #457b9d;
  color: #fff;
  width: 40%;
  border-radius: 0 50px 50px 0;
  padding: 2px 12px;
}
